body {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	text-shadow: 2px 4px 15px #000000;
	font-weight: bold;

	background: linear-gradient(
			rgba(17, 126, 112, .5),
			rgba(10, 88, 255, .2)
		),
	url(../images/port.jpeg);
	background-size: cover;
	background-position: top; 
	background-repeat: no-repeat;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	width: 75%;
}

.overview {
	padding: 3em;
}

.fullname {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 5rem;
	color: black;
}

.job-title {
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 2
	em;
	margin-bottom: 1rem;
	font-weight: bolder;
}
hr {
	width: 45rem;
	border: none;
	height: 2px;
	background-color: gray;
	margin: 1.5rem 0;
}

.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}
.works {
	margin-top: 1.5rem;
	margin-bottom: 3em;
}

.works h2 {
	background-color: rgba(0,0,0,0.6);
	width: 200px;
	height: 50px;
	object-fit: cover;
	border-radius: 15px;
	text-align: center;
	padding-top: 20px;
}
.works img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.social-media a {
	color: #efefef;
	margin: 0 .5rem;
	font-size: 2.5rem;
	opacity: .75;
}

.social-media a:hover {
	opacity: 1;
}

.ad {
	margin: 5rem;
	font-size: 1rem;
}

.image-container {
	width: 100%;
	padding-bottom: 100vh;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: inline;
	border: 1px solid red;

}


div a img {
	border-radius: 15px;
	margin-right: 20px;
}
/* Make our kayout responsive */

@media(max-width: 980px){
	.container {
		flex-direction: column;
	}
	.overview {
		order: 1;
		padding: 3rem 0;
	}

	main {
		background: 
		linear-gradient(rgba(0, 255, 222, 0.45),
						rgba(0, 88, 255, 0.45)),
		url(../images/italy.jpg);
	}
	.fullname, .jobtitle{
		text-align: center;
	}

	.job-title {
		font-weight: bolder;

	}

	.description {
		text-align: center;
		color: black;
	}

	hr {
		margin: auto;
	}

	social-media {
		text-align: center;
		margin-top: 3rem;
	}

	.ad {
		text-align: center;
	}

	.works {
		text-align: center;
	}
}  